<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="MainFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/main.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="ApiFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/api_service.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level [%property{CorrelationId}] - %message%newline" />
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="MainFileAppender" />
	</root>

	<logger name="ApiLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="ApiFileAppender" />
	</logger>
</log4net>
